html,
body,
.root {
  height: 100%;
}
body {
  line-height: 1.5;
}
body,
.app {
  background: white;
}

.marker {
  cursor: pointer;
}

.marker-title {
  margin-right: -50%;
  width: 200px;
  display: block;
  position: relative;
  right: 90px;
  text-align: center;
  top: 20px;
  background: rgba(256, 256, 256, 0.5);
  padding: 5px;
  border-radius: 5px;
  color: black;
  border: 1px solid #555;
}

#listview {
  position: absolute;
  left: 1rem;
  top: 1rem;
  background: white;
  padding: 1.5rem;
  width: 30vw;
  height: 30vh;
  overflow: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

ul {
  list-style-type: none;
}

.marker.selected {
  background-color: aqua !important;
}

.list-item.selected {
  border: 2px solid aqua;
}

.info-window {
  position: absolute;
  left: 1rem;
  top: calc(30vh + 2rem);
  background: white;
  padding: 1.5rem;
  width: 30vw;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  max-height: 50vh;
  overflow: auto;
}

.info-window img {
  width: 100%;
}

ul {
  padding-left: 0;
}

input {
  width: 100%;
  height: 2rem;
  padding: 0 1rem;
}

li {
  border: 2px solid transparent;
  padding: 0.3rem 1rem;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .info-window,
  #listview {
    padding: 0.5rem;
    width: 40vw;
    font-size: 0.6rem;
  }

  input {
    font-size: 0.6rem;
  }
}
